<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Browns Family Expense Tracker | <%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <!-- Include header partial -->

    <%- include('../partials/header') %>
    
    <div class="container-fluid">
        <div class="row">
            <!-- Include sidebar partial if user is logged in -->
            <% if (locals.user) { %>
                <div class="col-md-3 col-lg-2">
                    <%- include('../partials/sidebar') %>
                </div>
                <main class="col-md-9 col-lg-10 px-md-4 py-4">
                    <!-- Include alert messages -->
                    <%- include('../partials/alerts') %>
                    
                    <!-- Page content -->
                    <%- body %>
                </main>
            <% } else { %>
                <main class="col-12">
                    <!-- Include alert messages -->
                    <%- include('../partials/alerts') %>
                    
                    <!-- Page content -->
                    <%- body %>
                </main>
            <% } %>
        </div>
    </div>
    
    <!-- Include footer partial -->
    <%- include('../partials/footer') %>